CompileFlags:
    Add:
        # I fucking WISH that I could do like ${workspaceRoot}
        - -I/Users/william/ref/lsbin/include/platform/windows
        - -I/Users/william/ref/lsbin/include/platform/macos
        - -I/Users/william/ref/lsbin/include/platform/linux
        - -I/Users/william/ref/lsbin/include
        - -std=c++23
        - -fms-extensions
        - -DWINCROSS
